@font-face {
    font-family: LOL;
    src: url(../Fuentes/Beaufort\ for\ LOL\ Bold.ttf);
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: LOL;
    background-color:rgb(46 53 71);
}
body::-webkit-scrollbar{
    display: none;
}

nav {
    width: 100%;
    height: 60px;
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.871),rgba(0, 0, 0, 0.06));
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: flex;
}

#lolLogo {
    height: 30px;
    margin-right: 40px;
    margin-left: 15px;
}

#userNavbarTittle {
    width: 300px;
}

#userNavbarTittle {
    font-family: LOL;
    font-style: normal;
    font-weight: 700;
    font-size:x-large;
    color: white;
}

#signOut {
    width: 139px;
    height: 35px;
    background-color:#eca41b;
    border-radius: 10px;
    font-family: LOL;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-right: 15px;
    color: #FFFFFF;
    border:none
}

#userProfilePrincipal {
    width: 80%;
    height: 70%;
    margin: 25px;
    margin-top: 110px;
    box-shadow: 10px 10px 10px rgb(22, 22, 22);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background-color: aliceblue;
}

#userProfileBackground {
    background-image: url(https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Vex_0.jpg);
    background-color: aqua;
    width: 600px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-x: -370px;
    border-radius: 20px 0 0 20px;
}

#userProfileInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}

#userImg {
    width: 80px;
    border-radius: 100px;
}

#userSuperior {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#contUserName {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 30px;
}

#contUserName h2 {
    margin: 0;
    font-family: LOL;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 47px;
    position: relative;
}

#contUserName h3 {
    margin: 0;
    margin-left: 2px;
    font-family: LOL;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    position: relative;
}

#userBoxes {
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.userBox {
    margin-right: 50px;
}

.boxTittle {
    font-family: LOL;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin: 0;
    margin-top: 10px;
}

.box {
    display: flex;
    width: 300px;
    height: 40px;
}

.boxText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

#editCont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#editProfileButton {
    width: 350px;
    height: 40px;
    background-color: #D89E30;
    font-family: LOL;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    border: none;
    margin-bottom: 100px;
    position: relative;
    bottom: 20px;
    border-radius: 10px;
}

.horizontalSpace {
    width: 100%;
}
